@svg 1pxborder {
	height: 2px;
	@rect {
		fill: var(--color, black);
		width: 100%;
		height: 50%;
	}
}

.border-bottom-1px{
    border-bottom: 1px solid #e5e5e5;
    border-image: svg(1pxborder param(--color #ffffff)) 2 2 stretch;
}

.border-top-1px{
    border-top: 1px solid #e5e5e5;
    border-image: svg(1pxborder param(--color #ffffff)) 2 2 stretch;
}